<div class="grid">

    <div class="col-6">
        <!--    Invites and unread messages     -->

        <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Messages</span>
                        <div class="text-900 font-medium text-xl">7 Unread</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-comment text-cyan-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">3 </span>
                <span class="text-500">new messages</span>
            </div>
        </div>
        <div class="col-6">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Invites</span>
                        <div class="text-900 font-medium text-xl">5 Unread</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-purple-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-calendar-times text-purple-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">2 </span>
                <span class="text-500">new invites</span>
            </div>
        </div>
        <!--    Confirm delete dialog     -->
        <p-dialog [(visible)]="confirmDeleteDialog" [style]="{width: '450px'}" header="Details" [modal]="true" class="p-fluid">
            <ng-template pTemplate="header">
                <h3>Are you sure you want to exit from group {{selectedGroup}} ?</h3>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="onCancel()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="onSave()"></button>
            </ng-template>
        </p-dialog>
        <!--       List of groups         -->
        <div class="col-12">
            <div class="card">-
                <h5>List of groups</h5>
                <p-table [(selection)]="selectedGroup" [value]="groups" [paginator]="true" [rows]="5" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th></th>
                            <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                            <th pSortableColumn="members">Members <p-sortIcon field="members"></p-sortIcon></th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-group>
                        <tr>
                            <td style="width: 15%; min-width: 5rem;">
                                <img src="assets/demo/images/product/{{group.image}}" class="shadow-4" alt="{{group.name}}" width="50">
                            </td>
                            <td style="width: 35%; min-width: 7rem;">{{group.name}}</td>
                            <td style="width: 35%; min-width: 8rem;">{{group.members}}</td>
                            <td style="width: 15%;">
                                <button pButton pRipple type="button" icon="pi pi-search" class="p-button p-component p-button-text p-button-icon-only" (click)="redirectToGroup()"></button>
                                <button pButton pRipple type="button" icon="pi pi-trash" class="p-button p-component p-button-text p-button-icon-only" (click)="confirmDeleteDialogStateChange()"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <!--         Notifications        -->
        <div class="col-12">
            <div class="card">
                <div class="flex align-items-center justify-content-between mb-4">
                    <h5>Notifications</h5>
                </div>
                <ul class="p-0 m-0 list-none">
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-comment text-xl text-blue-500"></i>
                        </div>
                        <span class="text-900 line-height-3">Ovidiu Munteanu <span class="text-700"> sent you a message</span></span>
                    </li>
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-comment text-xl text-blue-500"></i>
                        </div>
                        <span class="text-900 line-height-3">Adrian Popescu <span class="text-700"> sent you a message</span></span>
                    </li>
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-pink-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-calendar-times text-xl text-pink-500"></i>
                        </div>
                        <span class="text-900 line-height-3">Nadia Pindaru<span class="text-700"> has invited you to the group </span> <span class="text-900 line-height-3">Group 841</span></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

