<p-dialog
    class="dialog"
    [visible]="isVisible"
    [closable]="false">
    <ng-template pTemplate="header">
        <h3>Profile information</h3>
    </ng-template>
    <div class="d-flex align-items-center">
        <h5>Username: </h5>
        <input [disabled]="true" type="text" pInputText [(ngModel)]="user.username">

        <h5>Email address: </h5>
        <input [disabled]="true" type="text" pInputText [(ngModel)]="user.email">

        <h5>Password: </h5>
        <p-password  id="password1" [(ngModel)]="user.password" [toggleMask]="true" ></p-password>
    </div>


    <ng-template pTemplate="footer">
        <button pButton pRipple label="Save" icon="pi pi-save" class="p-button-text" (click)="onSave()"></button>
    </ng-template>
</p-dialog>
