<!--    Add group dialog         -->
<p-dialog *ngIf="isAddDialogVisible"
          class="dialog"
          [visible]="isAddDialogVisible"
          [closable]="false"
          (onShow)="selectedGroup.name = ''">
    <ng-template pTemplate="header">
        <h3>Add a group</h3>
    </ng-template>
    <div style="display: flex;">
        <div>
            <h5>Name: </h5>
            <input type="text" pInputText [(ngModel)]="selectedGroup.name">
            <h5>Add friends to the group</h5>
            <p-pickList
                [source]="friends"
                [sourceHeader]="'Friends list'"
                [targetHeader]="'Added friends'">
                <ng-template let-item pTemplate="item">
                    {{item.name}}
                </ng-template>
            </p-pickList>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="onAddCancel()"></button>
        <button pButton pRipple label="Save" icon="pi pi-save" class="p-button-text" (click)="onAddConfirm()"></button>
    </ng-template>
</p-dialog>

<!--    Confirm delete dialog     -->
<p-dialog *ngIf="isDeleteDialogVisible"
          [(visible)]="isDeleteDialogVisible"
          [closable]="false"
          [modal]="true">
    <ng-template pTemplate="header">
        <h3>Are you sure you want to exit from group {{selectedGroup ? selectedGroup.name : "" }} ?</h3>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="onDeleteCancel()"></button>
        <button pButton pRipple label="Delete" icon="pi pi-check" class="p-button-text"
                (click)="onDeleteConfirm()"></button>
    </ng-template>
</p-dialog>

<!--       List of groups         -->
<div class="col-12">
    <div class="card">
        <p-table [(selection)]="selectedGroup" [value]="groups" [paginator]="true" [rows]="5" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th></th>
                    <th pSortableColumn="name">Name
                        <p-sortIcon field="name"></p-sortIcon>
                    </th>
                    <th pSortableColumn="members">Members
                        <p-sortIcon field="members"></p-sortIcon>
                    </th>
                    <th></th>
                </tr>
            </ng-template>
                <ng-template  pTemplate="body" let-group>
                    <tr>
                        <td style="width: 20%; min-width: 5rem; padding-left: 70px">
                            <img src="assets/demo/images/squirrels/white-brown.png" class="shadow-4" width="50">
                        </td>
                        <td style="width: 30%; min-width: 7rem; padding-left: 20px">{{group.name}}</td>
                        <td style="width: 35%; min-width: 8rem; padding-left: 40px">{{group.no_part}}</td>
                        <td style="width: 15%;">
                            <button pButton pRipple type="button" icon="pi pi-search"
                                    class="p-button p-component p-button-text p-button-icon-only"
                                    style="border-color: darkturquoise; background: turquoise; color: yellow"
                                    (click)="redirectToGroup(group)"></button>
                            <button pButton pRipple type="button" icon="pi pi-trash"
                                    style="margin-left: 12px; border-color: darkturquoise; background: turquoise; color: yellow"

                                    class="p-button p-component p-button-text p-button-icon-only"
                                    (click)="openDeleteGroupDialog(group)"></button>
                        </td>
                    </tr>
                </ng-template>
        </p-table>
        <button pButton pRipple label="Add a group" icon="pi pi-plus" style="background: turquoise; border-color: darkturquoise; width: 250px; margin-top: 25px; margin-left:41.5%" (click)="openAddGroupDialog()"></button>
    </div>
</div>
