<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">

        <div style="align-items: center; border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8 justify-content-center" style="border-radius:53px; padding-left: 160px!important;">
                    <img src="assets/layout/images/roundeddsvg.svg"  alt="Sakai logo" class="mb-5 w-30rem ">
                    <label for="username1" class="block text-900 text-xl font-medium mb-2">Username</label>
                    <input [required]="true" id="username1" [(ngModel)]="username" type="text" placeholder="{{usernamePlaceholder}}" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem">
                    <label for="email1" class="block text-900 text-xl font-medium mb-2">Email</label>
                    <input [required]="true" id="email1" [(ngModel)]="email" type="text" placeholder="{{emailPlaceholder}}" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem">
                    <label for="password1" class="block text-900 font-medium text-xl mb-2">Password</label>
                    <p-password [required]="true" id="password1" [(ngModel)]="password" placeholder="{{passwordPlaceholder}}" [toggleMask]="true" styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem"></p-password>
<!--                    <h5 style="color:red"> [-] At least one lowercase</h5>-->
<!--                    <h5 style="color:red">[-] At least one uppercase</h5>-->
<!--                    <h5 style="color:red">[-] At least one numeric</h5>-->
<!--                    <h5 style="color:red" >[-] Minimum 8 characters</h5>-->
                    <button pButton pRipple label="Sign Up" class="w-full p-3 text-xl" (click)="registerUser()" style="margin: 0 25px 0 -40px;"></button>
            </div>
        </div>
    </div>
</div>
