<div class='d-flex flex-row'>
    <h2>All Events ({{currentActivities.length}})</h2>
    <ul>
        <li *ngFor='let event of currentActivities'>
            <b>{{event.startStr}}</b>
            <i>{{event.title}}</i>
        </li>
    </ul>
    <label>
        <input
            type='checkbox'
            [checked]='calendarOptions.weekends'
            (change)='handleWeekendsToggle()'
        />
        Toggle Weekends
    </label>

</div>

<full-calendar [options]='calendarOptions'></full-calendar>

